body.rotate::before {
  content: "";
  position: fixed;
  top: -75%;
  left: -75%;
  height: 250%;
  width: 250%;
  z-index: -1;
  background: url('assets/background.jpg') center / cover fixed no-repeat;
  animation: rotation 30s infinite linear;
}

body.static::before {
  content: "";
  position: fixed;
  top: -75%;
  left: -75%;
  height: 250%;
  width: 250%;
  z-index: -1;
  background: url('assets/background.jpg') center / cover fixed no-repeat;
  animation: quickRotation 0.3s forwards;
}

@keyframes quickRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.App {
  text-align: center;
  color: #9c1c91;
}

.hover-nav:hover {
  background-color: #e6b609;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}